[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "busdater"]
	path = busdater
	url = https://github.com/mickmioduszewski/busdater
[submodule "dqcheckr"]
	path = dqcheckr
	url = https://github.com/mickmioduszewski/dqcheckr
[submodule "dqcheckrGUI"]
	path = dqcheckrGUI
	url = https://github.com/mickmioduszewski/dqcheckrgui
